@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #f1faff;
    --background: #343434;
    --menu: #222222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}

.page {
    align-items: left;
    justify-content: left;
    text-align: justify;
    min-width: 20rem;
    color: var(--main-color);
    background-color: var(--background);
    font-family: Hanken Grotesk;
    font-size: 1.125rem;
    line-height: 1.8;
    word-spacing: 0.125rem;
    letter-spacing: 0.019rem;
    margin: 5rem 4rem;
}
.menu-header {
    position: fixed;
    z-index: 99;
    border-bottom: var(--main-color);
    background-color: var(--menu);
    top: 0;
    right: 0;
    left: 0;
    
}

.menu-header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.menu-header a {
    margin-right: 1rem;
    margin-left: 1rem;
}
.nav-bar a {
    color: var(--main-color);
    border-bottom: var(--main-color);
}
h1 {
    color: var(--main-color);
    font-family: Montserrat;
    font-size: 3.5rem;
    margin: 6.063rem 0rem 0.125rem;
}
h2 {
    color: var(--main-color);
    font-family: JetBrains Mono;
    font-size: 2.3rem;
    margin: 2.25rem 41.125rem 1.75rem 0rem;
}

h3 {
    color: var(--main-color);
    font-family: JetBrains Mono;
    font-size: 1.7rem;
    margin: 2.25rem 4.75rem 1.75rem 0rem;
}

a:hover {  
    color:#787878;
}

h2::after {
    content: '|';
    opacity: 1;
    margin-left: 0.063rem;
    display: inline-block;
    animation: blink .7s infinite;
  }

@keyframes blink {
    0%, 100% {
       opacity: 1;
    }
    50% {
       opacity: 0;
    }
  }

.animation-math {
    position: absolute;
    right: 3.75rem;
    top: 1rem;
    padding-bottom: 10rem;
    margin: 1.25rem 0rem 10rem;
    
}
.line {
    color: #8473ff ;
}
.introduction {
    margin: 2rem 0rem 8.375rem;
}
.content {
    margin: 0.938rem 0rem 0rem
}
summary {
    all: unset;
    display: block;
    padding: 1rem 1rem;
    color: #f1faff;
    background-color: #222222;
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
}

details {
    padding: 0 2rem 0 0;
    background-color: #303030;
    color:#f1faff;
    margin-right: 2.625rem;
    
}
ul {
    margin-right: 0;
    padding: 1rem 0;
    font-size: 1.375rem;
}
li {
    margin-left: 5rem;
    margin-top :0.5rem;
}


@media(max-width: 1300px) {
    
    .animation-math {
        display:none;
    }

    h2 {
        margin-right:0px;
    }
}



@media (max-width: 768px) {
    .page {
      margin: 2rem 1rem;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    h1 {
      font-size: 2.7rem;
      margin: 6rem 1rem 0rem;
      text-align: center;
    }
  
    h2 {
      font-size: 1.6rem;
      margin: 1rem 0;
      text-align: center;
    }

    .introduction {
      text-align: justify;
      margin: 1rem 1rem 4rem;
    }
  
    details, ul, li {
      margin: 10 auto;
      text-align: left;
    }
  
    #Copyright {
      text-align: center;
    }
  }

  
#Copyright {
    font-family: JetBrains Mono;
    font-size: 0.875rem;
}

 
