@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #f1faff;
    --background: #343434;
    --menu: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;
}


.Trimester {
    align-items: left;
    justify-content: left;
    text-align: justify;
    min-width: 20rem;
    color: var(--main-color);
    background-color: var(--background);
    font-family: Hanken Grotesk;
    font-size: 1.125rem;
    line-height: 1.8;
    word-spacing: 0.125rem;
    letter-spacing: 0.019rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Barra de navegação horizontal */
.menu-header {
    position: fixed;
    z-index: 99;
    border-bottom: var(--main-color);
    background-color: var(--menu);
    top: 0;
    right: 0;
    left: 0;
}

.menu-header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.menu-header a {
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-bar a {
    color: var(--main-color);
    border-bottom: var(--main-color);
}

/* Barra lateral para links internos */
.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: var(--menu);
    border-right: 1px solid rgba(241, 250, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 98;
    padding: 2rem 1rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
}

.sidebar-link {
    color: var(--main-color);
    font-size: 0.875rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    position: relative;
    letter-spacing: 0.05em;
    opacity: 0.7;
    width: 100%;
    text-align: left;
}

.sidebar-link:hover {
    opacity: 1;
    color: #8879ff;
}

.sidebar-link:active,
.sidebar-link:focus {
    opacity: 1;
    color: #8879ff;
}

.sidebar-link.active {
    opacity: 1;
    color: #8879ff;
}

.sidebar-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #8879ff;
}

/* Conteúdo principal */
.main-content {
    margin-left: 200px;
    margin-top: 60px;
    padding: 5rem 4rem;
    width: calc(100% - 200px);
    max-width: 100%;
}

/* Conteúdo principal sem barra lateral */
.main-content-no-sidebar {
    margin-left: 0;
    margin-top: 60px;
    padding: 5rem 4rem;
    width: 100%;
    max-width: 100%;
}

h1 {
    color: var(--main-color);
    font-family: Montserrat;
    height: 100%;
    font-size: 3.5rem;
    margin: 6.063rem 0rem 0.125rem;
}

h2 {
    color: var(--main-color);
    font-family: JetBrains Mono;
    font-size: 2.3rem;
    margin: 2.25rem 1.125rem 1.75rem 0rem;
}

h3 {
    color: var(--main-color);
    font-family: JetBrains Mono;
    font-size: 1.7rem;
    margin: 2.25rem 1rem 1.75rem 0rem;
}

.label {
    font-family: Hanken Grotesk;
    font-size: 0.9rem;
}

.content {
    margin: 0.938rem 0rem 0rem
}

summary {
    all: unset;
    padding: 1rem;
    color: #f1faff;
    background-color: #222222;
    font-size: 2rem;
    width: 100%;
}

details {
    background-color: #303030;
    color: #f1faff;
    margin-right: 2.625rem;

}

ul {
    margin-left: 2rem;
    padding: 1rem;
    padding-bottom: 1rem;
    font-size: 1.375rem;
}

li+li {
    margin-top: 0.25rem;
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

.code {
    background-color: var(--menu);
    padding: 1rem;
    border-radius: 3.5%;
}



#Copyright {

    font-family: JetBrains Mono;
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
        margin-top: 50px;
        padding: 2rem 1.5rem;
        width: 100%;
    }

    .main-content-no-sidebar {
        margin-left: 0;
        margin-top: 50px;
        padding: 2rem 1.5rem;
        width: 100%;
    }

    .page {
        margin: 2rem 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2.7rem;
        margin: 6rem 1rem 0rem;
        text-align: center;
    }

    h2 {
        font-size: 1.6rem;
        margin: 1rem 0;
        text-align: center;
    }

    h3 {
        font-size: 1.4rem;
        margin: 1rem 0;
        text-align: center;
    }

    .introduction {
        text-align: justify;
        margin: 1rem 1rem 4rem;
    }

    details,
    ul,
    li {
        margin: 10 auto;
        text-align: left;
    }

    #Copyright {
        text-align: center;
    }
}